@import "tailwindcss";

@theme {
  --color-background: #1e1e2e;
  --color-foreground: #cdd6f4;

  --color-primary: #f38ba8;
  --color-primary-foreground: #ffffff;

  --color-secondary: #eba0ac;
  --color-secondary-foreground: ;

  --color-muted: #313244;
  --color-muted-foreground: #a6adc8;

  --color-border: #181825;

  --color-surface: #11111b;

  --color-error: ;
  --color-success: ;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  button {
    cursor: pointer;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);

    font-family: 'Playfair Display', sans-serif;
  }
}

@layer components {
  .glass {
    background-color: color-mix(in srgb, var(--color-surface) 20%, transparent);
    backdrop-filter: blur(16px);
    border: 1px solid color-mix(in srgb, var(--color-border) 20%, transparent);
  }

  .glass-strong {
    background-color: color-mix(in srgb, var(--color-surface) 80%, transparent);
    backdrop-filter: blur(16px);
    border: 1px solid color-mix(in srgb, var(--color-border) 50%, transparent);
  }

  .glow-text {
    text-shadow: 0 0 30px color-mix(in srgb, var(--color-primary) 50%, transparent);
  }

  .glow-border {
    box-shadow: 0 0 20px color-mix(in srgb, var(--color-primary) 20%, transparent), inset 0 0 20px color-mix(in srgb, var(--color-primary) 5%, transparent);
  }
}

@layer utilities {

  @keyframes animated-border {
    0% {
      stroke-dashoffset: 400;
    }

    100% {
      stroke-dashoffset: -550;
    }
  }

  .group:hover .animated-border-path {
    animation: animated-border 1.5s linear infinite;
  }

  .animated-border:hover {
    background-color: color-mix(in srgb, var(--color-primary) 15%, transparent);
    backdrop-filter: blur(16px);
    box-shadow: 0 0 20px color-mix(in srgb, var(--color-primary) 20%, transparent);
  }
}
